.banner2 {
    background-image: url("file:///C:/xampp/htdocs/my_project/img/portfolio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    min-height: 800px;
    padding-bottom: 50px;
    }
  /*   button:focus{
        outline-style: none;
    }
    .scelectBtn{
        background-color: #667b8c;
        border: 2px solid yellow;
        color: white;
        width: 180px; 
        border-radius:10px;
        margin: 3px;
        height: 40px;
    }
    .work_services {
        padding-left: 100px;
        padding-right: 100px;
    
    }
    .projectview{
        margin-top: 50px;
    }

    .imgFloatin{
        float:right;
        margin-bottom: 10px;
        padding: 5px;
        width: 80%;
    }
    .protfoioImg{
        width: 80%;
        margin-bottom: 10px;
        padding: 5px;
    }


    @media screen and (max-width:766px){
        .imgFloatin{
            float:none;
            margin-bottom: 10px;
            padding: 5px;
            margin-left: 10%;
        }
        .protfoioImg{
            margin-left: 10%;
        }
  }


    @media screen and (max-width:570px){
        .imgFloatin{
            width: 98%;
        }
        .protfoioImg{
            width: 98%;
            margin-left:0%;
        }
        .imgFloatin{
            margin-left:0%;
        }
    }
    @media screen and (max-width:400px){
        .work_services {
            padding-left: 0px;
            padding-right: 0px;
             padding: 5px;
        }
    }
 */
 .home_gallery_area {
    background: #f9f9ff;
  }
  
  .home_gallery_area .button_more {
    text-align: center;
    margin-top: 80px;
  }
  
  .isotope_fillter {
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-bottom: 80px;
  }
  
  .isotope_fillter .gallery_filter {
    text-align: center;
  }
  
  .isotope_fillter .gallery_filter li {
    display: inline-block;
    border-left: 1px solid #eeeeee;
    margin-right: -4px;
  }
  
  .isotope_fillter .gallery_filter li a {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    line-height: 48px;
    display: inline-block;
    padding: 0px 30px;
    margin: 0px;
  }
  
  .isotope_fillter .gallery_filter li:last-child {
    border-right: 1px solid #eeeeee;
    margin-right: 0px;
  }
  
  .isotope_fillter .gallery_filter li:hover a, .isotope_fillter .gallery_filter li.active a {
    background: #fcdc00;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .gallery_f_inner {
    margin-bottom: -30px;
  }
  
  .h_gallery_item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .h_gallery_item:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .h_gallery_item img {
    width: 100%;
  }
  
  .h_gallery_item .hover {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .h_gallery_item .hover h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .h_gallery_item .hover .light {
    color: #fff;
    font-size: 30px;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .h_gallery_item:hover:before {
    opacity: 1;
  }
  
  .h_gallery_item:hover .hover {
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
  }
  
  .h_gallery_item:hover .hover .light {
    opacity: 1;
  }

  .theme_btn {
    background: #fcdc00;
    border-radius: 0px;
    border: none;
    color: #222222;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 28px;
    line-height: 40px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
  }
  
  .theme_btn:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    color: #222222;
  }
  
  .theme_btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .white_btn {
    line-height: 40px;
    background: #fff;
    color: #222222;
    padding: 0px 38px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
  }
  
  .white_btn:hover {
    background: #fcdc00;
    color: #222222;
  }